// variable$color-gray-6

$color-gold-1: #dcb14a;

$base-outline: 2px;
$custom-opacity: 1;

$color-white-1: rgba(255, 255, 255, $custom-opacity);

$color-gray-0_5: rgba(249, 250, 251, $custom-opacity);
$color-gray-1: rgba(243, 244, 246, $custom-opacity);
$color-gray-2: rgba(229, 231, 235, $custom-opacity);
$color-gray-4: rgba(156, 163, 175, $custom-opacity);
$color-gray-5: rgba(107, 114, 128, $custom-opacity);
$color-gray-6: rgba(75, 85, 99, $custom-opacity);
$color-gray-7: rgba(55, 65, 81, $custom-opacity);
$color-gray-8: rgba(31, 41, 55, $custom-opacity);
$color-gray-9: rgba(17, 24, 39, $custom-opacity);

$color-blue-3: rgba(147, 197, 253, $custom-opacity);
$color-blue-5: rgba(59, 130, 246, $custom-opacity);
$color-blue-6: rgba(37, 99, 235, $custom-opacity);
$color-blue-7: rgba(29, 78, 216, $custom-opacity);
$color-blue-8: rgba(30, 64, 175, $custom-opacity);

@mixin btnTheme {
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0 0.5rem;
}

.container {
  width: 90% !important;
  margin: 0 auto;
}

nav {
  background-color: $color-white-1;
  border-bottom: 1px solid $color-gray-2;

  button.btnRight2 {
    @include btnTheme();
    color: $color-white-1;
    background-color: $color-gray-9;
    &:hover {
      background-color: $color-gray-5;
    }
    &:focus {
      outline: $base-outline * 2 solid $color-gray-4;
    }
  }

  button.btnToggle {
    color: $color-gray-5;
    &:hover {
      background-color: $color-gray-1;
    }
    &:focus {
      outline: $base-outline solid $color-gray-2;
    }
  }

  #navbar-sticky {
    border-color: $color-gray-1;
    background-color: $color-gray-0_5;
    & a {
      color: $color-gray-9;
      &:hover {
        background-color: $color-gray-1;
      }
      &.active {
        color: $color-blue-7;
        background-color: transparent;
      }
    }
  }
}

.adTable {
  .bodyTable {
    border-collapse: collapse;
    border-width: 1px;
    border-color: $color-gray-4;
    & th {
      border-width: 1px;
      border-color: $color-gray-2;
    }
    & td {
      border-width: 1px;
      border-color: $color-gray-2;
      & img {
        width: 4rem;
      }
    }
    & button {
      @include btnTheme();
      &:hover {
        background-color: $color-gray-5;
      }
      &:focus {
        outline: $base-outline * 2 solid $color-gray-4;
      }
    }
  }
  button.btnThemSp {
    @include btnTheme();
    color: $color-white-1;
    background-color: $color-blue-7;
    &:hover {
      background-color: $color-blue-8;
    }
    &:focus {
      outline: $base-outline * 2 solid $color-blue-3;
    }
  }
}

@media (prefers-color-scheme: dark) {
  nav {
    background-color: $color-gray-9;
    border-bottom: 1px solid $color-gray-6;

    a.logo {
      span {
        color: $color-white-1;
      }
    }

    button.btnRight2 {
      background-color: $color-gray-5;
      &:hover {
        background-color: $color-white-1;
        color: $color-gray-9;
      }
      &:focus {
        outline: $base-outline * 2 solid $color-gray-7;
      }
    }

    button.btnToggle {
      color: $color-gray-4;
      &:hover {
        background-color: $color-gray-7;
      }
      &:focus {
        outline: $base-outline solid $color-gray-6;
      }
    }

    #navbar-sticky {
      background-color: $color-gray-8;
      border-color: $color-gray-7;
      & a {
        color: $color-white-1;
        border-color: $color-gray-7;
        &:hover {
          background-color: $color-gray-7;
          color: $color-white-1;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  nav {
    #navbar-sticky {
      background-color: $color-white-1;
      & a {
        &:hover {
          color: $color-blue-7;
        }
        &.active {
          color: $color-blue-7;
        }
      }
    }
    @media (prefers-color-scheme: dark) {
      #navbar-sticky {
        background-color: $color-gray-9;
        & a {
          &:hover {
            color: $color-blue-5;
          }
          &.active {
            color: $color-blue-5;
          }
        }
      }
    }
  }
}

#spinner {
  background-color: rgb(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
